---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel";
import { SKILLS, DEVICONS_URL } from "src/consts";
---

<Layout>
  <div>
    <div class="grid grid-rows-2 grid-cols-1 md:grid-rows-1 md:grid-cols-2">
      <div class="text-4xl min-w-max text-justify justify-self-start">
        <h1 class="font-bold mt-5">Bartosz Sobina</h1>
        <section class="text-zinc-700 text-sm dark:text-zinc-400 text-justify">
          Computer Engineering Student ( Code / Linux / Terminal )
        </section>
      </div>

      <div class="justify-self-center md:justify-self-end">
        <img
          class="h-24 w-24 rounded-full border-white border-2 drop-shadow-sm"
          src="/avatar.jpeg"
        />
      </div>
    </div>
  </div>
  <section class="mt-10 text-justify">
    <p>
      Something about me Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Maecenas sit amet vulputate diam, ac euismod turpis. Phasellus quis
      blandit mi. Maecenas tellus sem, commodo vitae ante vel, porttitor aliquam
      sapien. Curabitur sagittis a tellus et iaculis. In et gravida
    </p>
  </section>

  <!-- A strong understanding of the basic -->
  <!-- Other languages I work with -->
  <!-- On my free time I enjoying working with -->
  <!-- Other Tools I'm familiar with -->

  <section class="mt-20">
    <h2 class="my-8 text-xl text-center font-bold">
      A strong understanding of the basic
    </h2>

    <div class="flex justify-evenly text-lg gap-6">
      <img class="w-20 my-2 inline" src={DEVICONS_URL + SKILLS[0].src} />
      <section class="max-w-sm">
        <p class="my-2 inline text-justify">
          <section class="inline font-bold text-xl">HTML :</section> Everyday I learn
          about different elements HTML 5 has to offer, breaking out of making evrything
          div
        </p>
      </section>
    </div>

    <div class="flex justify-evenly text-lg gap-6">
      <img class="w-20 my-2 inline" src={DEVICONS_URL + SKILLS[1].src} />
      <section class="max-w-sm">
        <p class="my-2 inline text-justify">
          <section class="inline font-bold text-xl">CSS :</section> I use CSS on
          a daily basis and I am familiar with modern CSS practices FlexBox and Grid
        </p>
      </section>
    </div>

    <div class="flex justify-evenly text-lg gap-6">
      <img class="w-20 my-2 inline" src={DEVICONS_URL + SKILLS[2].src} />
      <section class="max-w-sm">
        <p class="my-2">
          <section class="font-bold inline text-xl">Javascript :</section> Regularly
          working with ES6 syntax. Such as arrow functions, template literals, ternary
          operators, etc
        </p>
      </section>
    </div>
  </section>
</Layout>
