---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div >

	</div>

	<main>
		<article class="px-8 mx-auto max-w-2xl border-2  text-center">
			<h1 class="font-bold my-5">Ressobe (Bartosz Sobina)</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet vulputate diam, ac euismod turpis. Phasellus quis blandit mi. Maecenas tellus sem, commodo vitae ante vel, porttitor aliquam sapien. Curabitur sagittis a tellus et iaculis. In et gravida lectus, sit amet vestibulum nisi. Proin ullamcorper consequat neque at scelerisque. Aenean tempus sem hendrerit condimentum ultrices. Nunc volutpat leo non convallis bibendum.
				</p>
		</article>
	</main>
</Layout>