---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="px-8 py-10 mx-auto max-w-2xl h-screen">
    <div>
      <div class="grid grid-rows-2 grid-cols-1 md:grid-rows-1 md:grid-cols-2">
        <div class="text-4xl min-w-max text-justify justify-self-start ">
          <h1 class="font-bold mt-5">Bartosz Sobina</h1>
          <section
            class="text-zinc-700 text-sm dark:text-zinc-400 text-justify "
          >
            Computer Engineering Student ( Code / Linux / Terminal )
          </section>
        </div>

        <div class="justify-self-center md:justify-self-end">
          <img
            class="h-24 w-24 rounded-full border-white border-2 drop-shadow-sm"
            src="/avatar.jpeg"
          />
        </div>
      </div>
    </div>
    <section class="mt-10 text-justify">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
        amet vulputate diam, ac euismod turpis. Phasellus quis blandit mi.
        Maecenas tellus sem, commodo vitae ante vel, porttitor aliquam sapien.
        Curabitur sagittis a tellus et iaculis. In et gravida lectus, sit amet
        vestibulum nisi. Proin ullamcorper consequat neque at scelerisque.
        Aenean tempus sem hendrerit condimentum ultrices. Nunc volutpat leo non
        convallis bibendum.
      </p>
    </section>
      <h2>Stack That I use</h2>
  </main>
</Layout>
