---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar";
---

<Layout>
  <div class="flex justify-center items-center">
    <div
      class="flex items-center w-80 rounded-md py-2 px-8 border-2 border-zinc-300"
    >
      <button class="inline px-4">
        <img class="inline w-4" src="/search.svg" />
      </button>
      <span>Search</span>
    </div>
  </div>
  <SearchBar />
</Layout>
