---
import Layout from "../layouts/Layout.astro";
import ProjectItem from "../components/ProjectItem.astro";
import { PROJECTS } from "../consts";
---

<Layout>
  <div
    class="grid grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-2 gap-8 justify-items-center"
  >
    {
      PROJECTS.map(({ href, src, projectTitle, projectDescription }) => (
        <ProjectItem
          href={"/projects/" + projectTitle.replaceAll(" ", "").toLowerCase()}
          src={src}
          projectTitle={projectTitle}
          projectDescription={projectDescription}
        />
      ))
    }
  </div>
</Layout>
