<div class="mx-auto max-w-4xl">
  <form method="post" class=" text-center">
    <input class="w-full border-[1px] outline-none" type="text" name="name" placeholder="Name" />

    <input class="w-full border-2" type="email" name="email" placeholder="Email"/>

    <textarea class="w-full border-2" name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
  </form>
</div>
