---
import { GITHUB_URL, YOUTUBE_URL } from "../consts";
---

<footer class="w-full block text-zinc-400 p-2 text-center">
  <div class="mb-2">
    <a href={GITHUB_URL} target="_blank">
      <img class="w-8 mx-4 inline-block hover:opacity-60" src="/github.svg" />
    </a>

    <a href={YOUTUBE_URL} target="_blank">
      <img class="w-8 inline-block hover:opacity-60" src="/youtube.svg" />
    </a>
  </div>
  <p>© 2023 Bartosz Sobina. All Rights Reserved.</p>
</footer>
