---
import { NAV_LINKS } from "../consts";
---

<div
  class="hidden absolute min-h-max min-w-max top-16 bg-orange-300 dark:bg-zinc-400 p-3 pr-20 rounded"
  id="drop-down-menu"
>
  <ul class="flex flex-col h-full text-zinc-950 w-full">
    {
      NAV_LINKS.map(({ label, href }) => (
        <li class="p-2">
          <a
            aria-current={Astro.url.pathname === href}
            class:list={[
              "hover:underline",
              "hover:opacity-70",
              {
                "font-bold":
                  Astro.url.pathname === href ||
                  (href !== "/" && Astro.url.pathname.startsWith(href)),
              },
            ]}
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
