---
export interface Props {
  path: string;
  text: string;
  active: boolean;
}
const { path, text, active } = Astro.props;
---

<a
  href={path}
  class:list={[
    "hover:underline",
    "hover:opacity-70",
    active ? "font-bold" : "",
  ]}
>
  {text}
</a>
