---
interface Props {
  href: string;
  src: string;
  projectTitle: string;
  projectDescription: string;
}
const { href, src, projectTitle, projectDescription } = Astro.props;
---

<div
  class="block max-w-xs rounded-lg bg-orange-50 shadow-lg dark:bg-neutral-700"
>
  <a
    href={href}
    target="_blank"
    data-te-ripple-init
    data-te-ripple-color="light"
  >
    <img class="rounded-t-lg" src={src} alt="terminal site" />
  </a>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
    >
      {projectTitle}
    </h5>
    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
      {projectDescription}
    </p>
  </div>
</div>
