---
import { DEVICONS_URL } from "../config";
interface Props {
  name: string;
  src: string;
  level: number;
}
const { name, src, level } = Astro.props;
const rest = 5 - level;
---

<div class="inline-flex justify-center content-center">
  <div class="inline-block">
    <img class="w-10 h-10" src={DEVICONS_URL + src} alt={name} />
  </div>
  {
    Array(level)
      .fill(1)
      .map(() => (
        <div class="ml-2 inline-block w-4 h-4 bg-black rounded-full" />
      ))
  }
  {
    Array(rest)
      .fill(1)
      .map(() => (
        <div class="ml-2 inline-block w-4 h-4 border-black border-2 rounded-full" />
      ))
  }
</div>

