---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Footer from "../components/Footer.astro";
import ThemeToggleButton from "../components/ThemeToggleButton";
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="terminal.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />

    <title>{SITE_TITLE}</title>
  </head>
  <body
    class="min-h-full bg-orange-100 dark:bg-zinc-800 dark:text-white break-words"
  >
    <div class="absolute top-5 right-10">
      <ThemeToggleButton client:load/>
    </div>

    <main class="px-8 py-10 mx-auto max-w-4xl">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    transition: color 0.5s ease;
  }
</style>
